
@{
    Layout = null;
}


<form action="Login" method="POST" id="form-ajax">
    <input type="text" id="login" name="login">
    <input type="password" name="senha" id="senha">
    <input type="submit" value="Logar">
</form>

<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/FuncionarioLogin.js"></script>